@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

body {
    margin: 0;
    margin: 0;
    font-family: 'Smythe', cursive;
    font-size: 24px;
}

header {
    background-image: url('images/bg.png');
    background-color: #78350F;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20vh;
    color: white;
}

.hero-items {
    padding-top: 1rem;
    padding-left: 2.5rem;
}

.hero-items p {
    font-size: 30px;
}

.menu {
    padding: 1rem 3rem;
}

.menu-item {
    margin-top: .8rem;
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    column-gap: .6rem;
}

.menu-item-details {
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* width: auto; */
}

.ingredients {
    color: #D2D2D2;
}

.add-item-btn {
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

i {
    font-size: 30px;
}